html{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
}

.column{
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.header, #hero{
  background-color: #1f2937;
}


.logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: #f9faf8;
}

.header ul{
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

.header__link a{
  text-decoration: none;
}

.header__link a, .hero__text{
  font-size: 1.125rem;
  color: #e5e7eb;
}

#hero{
  padding: 8rem 10rem;
  gap: 2rem;
}

#hero .container{
  flex: 2;
  gap: 1rem;
}

#hero .container h1{
  margin-bottom: -0.75rem;
}

.hero__image{
  background-color: gray;
  text-align: center;
  flex: 3;
  align-self: stretch;
}

.hero__title{
  font-size: 3rem;
  color: #f9faf8;
  font-weight: 900;
}

.btn{
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: #e5e7eb;
  font-weight: 700;
  width: fit-content;
  padding: 0.5rem 1.5rem;
}

#info{
  gap: 3rem;
}

.container:has(.card){
  gap: 3rem;
  margin-bottom: 3rem;
}

.card{
  width: 150px;
  text-align: center;
}

.title{
  font-weight: 900;
  font-size: 2.25rem;
  color: #1f2937;
}

.card img{
  display: block;
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.section:has(.quote){
  background-color: #e5e7eb;
}

.container:has(.quote){
  width: 60%;
  padding: 3rem 0;
}

.quote{
 font-size: 2.25rem;
 color: #1f2937;
 font-weight: 100;
 font-style: italic;
}

.quote__author{
  align-self: flex-end;
  color: #1f2937;
  font-weight: 700;
}

#cta{
  background-color: #3882f6;
  display: flex;
  padding: 3rem 6rem;
  gap: 6rem;
  border-radius: 15px;
  margin: 3rem 0;
  color: #f9faf8;
  width: 80%;
  justify-content:space-around;
  align-items: center;
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.outline{
  background: transparent;
  border: 3px solid #f9faf8;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}